// Import Google fonts

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Palanquin:100,200,300,400,500,600,700|Raleway:400,100,300,700,500");
$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Cooper-Hewitt", "Palanquin", "Helvetica", "sans-serif";
// Define fonts for body and headers

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Cooper-Hewitt";
  src: font-url('cooper-hewitt-book/CooperHewitt-Book.woff') format('woff'),

}

$my-font: "Cooper-Hewitt", "Palanquin", "Helvetica", "sans-serif";
