.plan1{
  // height: 100vh;
  // padding-top: 80px;
}

.plan2{
  // height: 100vh;
  // padding-top: 80px;
}

.plan3{
  // height: 100vh;
  // padding-top: 80px;
}


.icone1 {
  padding-top: 50px;
  padding-left: 500px;
}

.icone2 {
  padding-top: 250px;
  padding-left: 600px;
}

.icone3 {
  padding-top: 450px;
  padding-left: 700px;
}

.portrait {
  padding-top: 200px;
  padding-left: 50px;
}

.banner {
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

.logo img {
  max-width: 200px;
  margin-right: 50px;
}

h1 {
  font-family: $headers-font;
}

