html, body {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  width: 100%;
}

.body-project {
  padding-top: 100px;
  padding-bottom: 100px;
}

.project-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
}
