// Your footer style
.footer {
  clear: both;
  width: 100%;
  bottom: 0;
  padding-right: 0px;
  padding-left: 0px;
}


.footer-wrapper {
  height: 150px;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: $green;
  p {
    color: white;
    font-size: 12px;
    margin: 0;
  }
}

.fa {
  color: white;
  transition: all 0.5s ease;
  padding-right: 3px;
  padding-left: 3px;
  margin-bottom: 30px;
}

.fa:hover {
  color: $yellow;
}

