
<footer class="footer">
  <div class="footer-wrapper">

    <div>
      <ul class="list-inline text-center">
        <li><a href="https://www.facebook.com/celia.albano.graphisme/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/celia-albano-aaa60220/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.behance.net/tsetsealbaa413" target="_blank"><i class="fa fa-behance-square fa-2x" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/celia.albano/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <div>
      <p class="text-center">© Celia Albano Graphisme 2017</p>
    </div>

  </div>
</footer>
