<div class="navbar1">
  <!-- Logo -->
  <div class="logo-navbar">
    <a href="/"><img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695839/logo_w4whbz.png" style="width:70px"; alt="logo"></a>
    <h1>Celia Albano</br>Graphisme</h1>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">

    <!-- Projects link -->
    <a href="/#projets" class="nav-link">Projets</a>
<!--     <%= link_to 'Projets', projects_path, class: "nav-link" %>
 -->
    <!-- Contact link -->
    <a href="/#contact" class="nav-link">Contact</a>
<!--     <%= link_to 'Contact', contact_path, class: "nav-link" %>
 -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li><a href="/#projets" class="nav-link">Projets</a></li>
        <li><a href="/#contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
