<%= render 'shared/navbar' %>

<!-- bannière parallax -->
<div class="banner">
  <div id="scene" class="scene">

    <ul>


      <li class="layer plan1" data-depth="0.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784961/ellipses-px-1_x0zbvc.png">
      </li>

      <li class="layer plan2" data-depth="1">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784962/ellipses-px-2_q7nn53.png">
      </li>

       <li class="layer portrait" data-depth="0">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1502272996/portrait-web-bann_s9fe71.png" alt="photo portrait">
      </li>

      <li class="layer plan3" data-depth="1.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1492784962/ellipses-px-3_ycovco.png">
      </li>

      <li class="layer icone1" data-depth="0.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1501490978/icone-idee-texte_ra4eeu.png">
      </li>

      <li class="layer icone2" data-depth="0.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1501490978/icone-dessin-texte2_jkg5hv.png">
      </li>

      <li class="layer icone3" data-depth="0.5">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1499077369/icone-web-texte_ymhrpp.png">
      </li>

    </ul>

  </div>
</div>

<!-- javascript pour parallax -->

<script type="text/javascript" src="deploy/parallax.js"></script>
<script>
  var scene = document.getElementById("scene");
  var parallax = new Parallax(scene);
</script>


<!-- icones wrapper -->

<!-- <div class="text-center padded">
  <div class="container icones-wrapper">
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-idee_fope2y.png" alt="idea icon">
            <h2>Des idées</h2>
            <p>Vous accompagner dans votre stratégie de communication</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-dessin_dmzllm.png" alt="pen icon">
          <h2>De la technique</h2>
          <p>Mettre tout en oeuvre pour vous fournir des documents de communication à votre image</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 icones">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-web_bpghlk.png" alt="computer icon">
          <h2>Du web</h2>
          <p>Développer votre site web et votre présence sur le net</p>
        </div>
    </div>
  </div>
</div> -->

<div class="container citation-wrapper no-padding">

    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center blue-col-1">
        <div class="tour-bulle text-center">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1501667983/Apropos-typo_liiidu.png">
          <h2>Mais au fait, de quoi s'agit-il?</h2>
        </div>
       <!-- Navigation -->
      <!--   <div class="navbar-wagon-right">
          <a href="#projets" class="nav-link-page">Projets</a>
          <a href="#contact" class="nav-link-page">Contact</a>
        </div> -->
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center white-col-1 icon-padding">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="presentation text-center">
              <h1>Hello! Je suis <span class="colored">Graphiste</span> & <span class="colored">Webdesigner</span></h1>
             <!--  <h3>Laissons nous aller, imaginons de belles choses!</h3> -->
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="services text-center">
              <h1>Ça veut dire que je crée des logos, des affiches, des flyers, je mets en page vos plaquettes, livrets tout ce qui pourra servir à votre communication. Et ce n'est pas tout! Je crée et développe aussi votre site internet. </h1>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="icon">
              <div class="col-xs-7">
                <div class="sweep-text">
                  <p>Chaque projet commence par une <span class="stressedout">réflexion</span> approfondie sur les <span class="stressedout">enjeux, la cible et la sensibilité</span> de l'entreprise</p>
                </div>
              </div>
              <div class="col-xs-5 sweep-icon">
                  <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-idee_fope2y.png" alt="idea icon">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="icon">
              <div class="col-xs-7">
                <div class="sweep-text">
                  <p>Tout est mis sur <span class="stressedout">papier</span> dans un <span class="stressedout">gribouillage avancé et élégant</span> qui révélera un premier aperçu du résultat</p>
                </div>
              </div>
              <div class="col-xs-5 sweep-icon">
                <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-dessin_dmzllm.png" alt="pen icon">
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="icon">
              <div class="col-xs-7">
                <div class="sweep-text">
                  <p>Pour que l'idée de départ se matérialise en un bel et bulle <span class="stressedout">outil de communication</span> je passe par la magie de l'<span class="stressedout">informatique</span> et donne <span class="stressedout">vie au design</span> élaboré en votre compagnie</p>
                </div>
              </div>
              <div class="col-xs-5 sweep-icon">
                <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1490695838/icone-web_bpghlk.png" alt="computer icon">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


<!-- exemple de projets -->

<div class="container project-wrapper no-padding" id="projets">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 green-col">
      <div class="tour-bulle text-center">
        <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1501059253/Projets-typo_ep2qzn.png" alt="projets-typo">
        <h2>Un petit tour dans ma bulle ça vous dit?</h2>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 project-col">
      <div class=row>
        <a href="projects/soretec.html">
          <div class="col-xs-12 card soretec no-padding">
            <div class="overlay-yellow">
              <div class="text text-center">
                <h2>PRINT</h2>
                <p>Idéntité visuelle / Mise en page
              </div>
            </div>
          </div>
        </a>
        <a href="projects/archil.html">
          <div class="col-xs-12 card archil no-padding">
            <div class="overlay-yellow">
              <div class="text text-center">
                <h2>PRINT</h2>
                <p>Identité visuelle</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class=row>
        <a href="projects/ose.html">
          <div class="col-xs-12 card ose no-padding">
            <div class="overlay-yellow">
              <div class="text text-center">
                <h2>PRINT</h2>
                <p>Identité visuelle</p>
              </div>
            </div>
          </div>
        </a>
        <a href="projects/dmum.html">
          <div class="col-xs-12 card dmum no-padding">
            <div class="overlay-yellow">
              <div class="text text-center">
                <h2>PRINT</h2>
                <p>Mise en page / Illustration / Poster
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class=row>
        <a href="projects/fermepc.html">
          <div class="col-xs-12 card fermepc no-padding">
            <div class="overlay-yellow">
              <div class="text text-center">
                <h2>PRINT</h2>
                <p>Identité visuelle / Packaging</p>
              </div>
            </div>
          </div>
        </a>
        <a href="projects/pelemele.html">
          <div class="col-xs-12 card pelemele no-padding">
            <div class="overlay-yellow">
              <div class="text text-center">
                <h2>PRINT</h2>
                <p>Divers projets</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container contact-wrapper no-padding" id="contact">

    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center blue-col">
        <div class="contact text-center">
          <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1501059252/contact-typo_snsp3d.png" alt="contact-typo">
          <h2>Et si nous partagions une idée?</h2>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center white-col">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <ul class="bubbles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>

              <div class="contact-info text-center">
                <h3>Celia Albano</h3>
                <h4>albano.celia@gmail.com</h4>
                <h4>+33 6 26 76 34 65</h4>
              </div>
              <div id="top-head">
                <img src="http://res.cloudinary.com/dusxpvpz7/image/upload/v1502272996/portrait-web-bann_s9fe71.png" alt="portrait coupé">
              </div>

            <!-- <div class="adress text-center">
              <p>N'hésitez pas à me contacter, j'ai hâte de connaitre votre projet!</p>
            </div> -->
          </div>
        </div>
      </div>
    </div>

</div>


