<%= render 'shared/navbar-project' %>

<div class="body-project">

  <div class="container">

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="photo-card-portrait" id="cdv-archil">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description" id="logo-archil">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description">
          <h2>ARCHI'L - Architecte Scénographe</h2>
          <h4>Création d'identité visuelle</h4>
          <p>- logo</p>
          <p>- carte de visite</p>
        </div>
      </div>
    </div>

  </div>

</div>
