<%= render 'shared/navbar-project' %>

<div class="body-project">

  <div class="container">

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="photo-card" id="logo-dmum">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description">
          <h2>DESSINE MOI UN MOUTON</h2>
          <h4>Création de supports</h4>
          <p>- Roll up</p>
          <p>- poster</p>
          <h4>Mise en page et graphisme d'un livret</h4>
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="photo-card" id="kake-dmum">
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="photo-card-portrait" id="poster-dmum">
        </div>
      </div>

      <div class="col-xs-12, col-sm-12, col-md-8, col-lg-8">

        <div class="row">
          <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6 no-padding">
            <div class="work-description" id="couv-dmum">
            </div>
          </div>
          <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6 no-padding">
            <div class="work-description" id="double3-dmum">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6 no-padding">
            <div class="photo-card" id="double1-dmum">
            </div>
          </div>
          <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6 no-padding">
            <div class="photo-card" id="double2-dmum">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

