<%= render 'shared/navbar-project' %>

<div class="body-project">

  <div class="container">

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-8, col-lg-8 no-padding">
        <div class="photo-card" id="mock-fp">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description">
          <h2>FAIRE PART DE NAISSANCE</h2>
          <h4>Illustrations</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description" id="page1-fp">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description" id="page2-fp">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description" id="page3-fp">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
      <div class="work-description">
        <h2>ANAENSAIA - Association d'anciens élèves</h2>
        <h4>Création d'un logo</h4>
        <h4>Mise en page et graphisme d'un livret</h4>
      </div>
    </div>
      <div class="col-xs-12, col-sm-12, col-md-8, col-lg-8 no-padding">
        <div class="work-description" id="couv-ag">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6 no-padding">
        <div class="photo-card" id="logo-ag">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6 no-padding">
        <div class="photo-card" id="double-ag">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-8, col-lg-8 no-padding">
        <div class="work-description" id="mock-anasa">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description">
          <h2>ANASA - Agence de voyage (fictive)</h2>
          <h4>Création d'une identité visuelle</h4>
          <h4>Affiches</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6 no-padding">
        <div class="photo-card" id="multi-anasa">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-6, col-lg-6 no-padding">
        <div class="photo-card" id="lion-anasa">
        </div>
      </div>
    </div>

  </div>
</div>

