<%= render 'shared/navbar-project' %>

<div class="body-project">

  <div class="container">

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-8, col-lg-8 no-padding">
        <div class="photo-card" id="soretec-cdv">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="work-description">
          <h2>SORETEC - Bureau d'études</h2>
          <h4>Refonte d'identité visuelle</h4>
          <p>- logo</p>
          <p>- carte de visite</p>
          <h4>Mise en page d'un album de chantier</h4>
          <h4>Retouches photo</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4 no-padding">
        <div class="photo-card" id="soretec-paper">
        </div>
      </div>
      <div class="col-xs-12, col-sm-12, col-md-8, col-lg-8 no-padding">
        <div class="work-description" id="soretec-dessin">
        </div>
      </div>
    </div>

  </div>

</div>
