.no-padding {
  padding: 0;
}

.photo-card {
  height: 350px;
  background-color: $green;
  margin: 5px;
}

.photo-card-portrait {
  height: 700px;
  background-color: $yellow;
  margin: 5px;
}

.work-description {
  background-color: $blue;
  height: 350px;
  margin: 5px;
  padding: 40px;
  h2 {
    margin: 0;
    color: white;
    padding-bottom: 30px;
    font-size: 26px;
  }
  h4 {
    margin:0;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
  }
  p{
    margin: 0;
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
  }
}

#jersey-noir-ose {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494076829/ose-flock-noir_q10lfp.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#ose-cdv{
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494076818/ose-cartes_k05pjr.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#logo-ose {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494076806/ose-logo_cz20zm.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#jersey-bleu-ose{
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494076834/ose-flock-bleu_rw4zcq.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#soretec-cdv {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494083425/soretec-cdv_xq3gvm.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#soretec-paper {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494083402/soretec-paper_tllahm.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#soretec-dessin {
  background: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494083420/soretec-dessin-bleu_k2p48u.jpg') no-repeat center fixed;
  // background-repeat: no-repeat;
  // background-position: center center;
  background-size: cover;
}

#cdv-archil {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494084617/cdv-archil_todqza.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#logo-archil {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494084615/logo-archil_kfa68g.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#logo-fermepc {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494085262/LOGO_FINAL_a8gdul.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  background-size: 70%;
}

#glinglin-fermepc {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542697/fp-stglinglin_ko4wan.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  background-size: 95%
}

#coeur-fermepc {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494085275/Coeur_FINALE_sbjdcq.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 120%;
}

#fromages {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494085267/fromages_ofe7fi.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#logo-dmum {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542468/dmum-logo-trans_imxnll.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  background-size: cover;
}

#kake-dmum {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542542/kake-dmum_ko7sjg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#poster-dmum {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542518/poster-dmum_gjloyd.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#couv-dmum  {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542535/couv-dmum_bzbyof.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#double1-dmum {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542532/dmum-double1_jcezog.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#double2-dmum {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542492/dmum-double2_sr3cyh.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#double3-dmum {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542525/dmum-double3_hwn7oz.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#mock-fp {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542667/margaux-fp_awyl7r.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#page1-fp{
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542684/fp-page1_n5cooo.pdf');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: white;
}

#page2-fp {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542685/fp-page2_bsecar.pdf');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: white;
}

#page3-fp {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542680/fp-page3_z7lbyd.pdf');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: white;
}

#couv-ag {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542669/couv-ag_o5e3tz.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#logo-ag {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542679/Logo-AG_hw8nao.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: white;
}

#double-ag {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542659/AG-double_o0ko38.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#lion-anasa{
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542679/anasa-lion_n52ukn.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#multi-anasa {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542678/anasa-multi_i4wvfo.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#mock-anasa {
  background-image: url('http://res.cloudinary.com/dusxpvpz7/image/upload/v1494542677/anasa-mock_xc48ol.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

